@import "mocha.css";

@define-color accent @pink;
@define-color alert @red;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  color: @text;
  background: transparent;
}

#workspaces {
  border-radius: 1rem;
  margin: 8px;
  padding: 0.2rem;
  border: 2px @pink solid;
  background-color: @base;
  padding-left: 0.3rem;
  padding-right: 0.6rem;
}

#workspaces button {
  color: @text;
  padding: 0.1rem;
}

#workspaces button.active {
  color: @accent;
}

#workspaces button.urgent:not(.active) {
  color: @mauve;
}

#workspaces button.empty:not(.active) {
  color: @overlay1;
}

#window {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 8px;
  margin-left: 1rem;
  background-color: @base;
  border: 2px @pink solid;
  border-radius: 1rem;
}

window#waybar.empty #window {
  font-size: 0;
  padding: 0;
  border: none;
}

#tray,
#backlight,
#network,
#clock,
#memory,
#cpu,
#temperature,
#battery,
#pulseaudio,
#custom-wttr {
  background-color: @base;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: @pink;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 8px 0;
}

#network {
  color: @lavender;
  border-width: 2px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 1rem;
}

#pulseaudio {
  color: @green;
  padding-left: 0.8rem;
  border-width: 2px 0 2px 2px;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio.muted {
  color: @surface2;
}

#memory {
  color: @teal;
}

#cpu {
  color: @sky;
}

#temperature {
  color: @lavender;
}

#temperature.critical {
  color: @red;
  background-color: #583c4f;
}

#battery {
  color: @pink;
}

#battery.warning:not(.charging) {
  color: @yellow;
  background-color: #5a4746;
}

#battery.critical:not(.charging) {
  color: @red;
  background-color: #583c4f;
}

#clock {
  color: @rosewater;
  border-width: 2px 2px 2px 0;
  border-radius: 0px 1rem 1rem 0px;
  padding-right: 0.8rem;
  margin-right: 1rem;
}

#tray {
  margin-left: 1rem;
  border-radius: 1rem;
  border-width: 2px;
}

#custom-wttr {
  margin-left: 1rem;
  border-radius: 1rem;
  border-width: 2px;
  color: @sky;
}
